# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
ipas
archives
/DerivedData2/
/DerivedData3/
/Build/
changelog.properties

## CocoaPods
Pods/
Podfile.lock

## Carthage
Carthage/

## OSX
.DS_Store

## SPM
.build/
